.calculadora {
    border: 1px solid #000000;
    width: 200px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(201, 201, 201);
    border-radius: 9px;
}

.calculadora [type=button]{
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: rgb(136, 135, 135);
    font-weight: 700;
    font-size: 16px;
    border-radius: 9px;
}

.calculadora [type=reset]{
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: rgb(95, 95, 95);
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border-radius: 9px;
}

.calculadora [type=text]{
    margin: 2px;
    padding: 0px 10px;
    width: 160px;
    height: 30px;
    border-radius: 9px;
    margin-bottom: 10px;
    font-size: 16px;
}
